/*# FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

/*# NAVBAR */
.navbar {
    background-color: #DBDCF9;
    height: 70px;
    z-index: 1;

    padding: 0 2em;
}

.navimg {
    max-width: 30px;
    margin: 0 1em;
}

/* ----------------------------------------------- */

/*# CONTAINER */
.container-fluid {
    display: flex;
    padding: 0;
}

    /*# SIDEBAR */
    .sidebar {
        width: 300px;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        background-color: #DBDCF94D;

        transition: width .2s ease-in-out;
    }

    .sidebar .sideButton {
        border-radius: 50px;

        background-color: #ADB0F699;

        width: 36px;
        height: 36px;

        position: absolute;
        top: 50vh;
        right: -18px;

        transition: transform .2s;
    }
    .sidebar .sideButton:hover {
        cursor: pointer;
    }

    .sidebar .sideButton .left {
        border-radius: 50px;

        width: 24px;
        height: 24px;

        position: absolute;
        top: 5.5px;
        right: 7px;
    }

    /*# CONTENT */
    .content {
        margin: 40px;
        margin-left: 340px;

        font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
        font-size: 19px;

        transition: margin .2s ease-in-out;
    }

        /*# SEARCH */
        .content .searchbar {
            margin: 0 40px;
            margin-bottom: 20px;
            display: flex;
        }

        .content .searchbar .searchInput {
            width: max-content;
            flex-grow: 1;
            margin: 0 5em;

            background-color: #DFE0FF;
            border-radius: 20px;
            padding-left: 15px;
        }

        .content .searchbar .searchButton {
            background-color: white;
            outline: none;
            border: none;
        }

        .content .searchbar .searchButton .search {
            float: right;
        }
        .content .searchbar .searchButton .search:hover {
            cursor: pointer;
        }

        /*# CARD */
        .content .row .card {
            position: relative;
            
            background-color: #DBDCF94D;
            border-radius: 20px;
            padding: 0;

            margin-top: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .content .row .card .card-img-top {
            border-radius: 20px;
            padding: 8px;

            object-fit: cover;
            width: 18rem;
            height: 16rem;
        }

        .content .row .card .card-body .addCart {
            position: absolute;
            top: -1rem;
            right: -1rem;

            background-color: white;
            border-radius: 50px;
        }
        .content .row .card .card-body .addCart:hover {
            background-color: #e2e2ff;
        }

        .content .row .card .card-body .card-title {
            font-size: x-large;
        }

        .content .row .card .card-body .card-price {
            font-size: 22px;
            text-align: right;

            padding-top: 3px;
            padding-right: 20px;
        }

/* ----------------------------------------------- */

/*# FOOTER */
footer {
    background-color: rgba(219, 220, 249, .5);
}

/* ----------------------------------------------- */

/*# SCROLLBAR */
::-webkit-scrollbar {
    width: 15px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #260B854D; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #260B8566; 
}